
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/public/avatar/*
/public/capas/*
/storage/multimidia/*
###< symfony/framework-bundle ###
